@font-face {
    font-family: 'Impact Club';
    src: url('../fonts/Impact_Club.ttf') format('truetype');
  }
  
  .text-left {
    font-family: 'Impact Club', sans-serif;
    text-align: left;
    margin-left: 20px; /* Ajusta según la distancia que prefieras */
  }